<div class="container">
  <h1>その他ページ</h1>
  
  <div class="card-columns">
    <% @services.films.each do |t| %>
      <div class="card">
        <%= image_tag t.image_url, :size =>'120x180', class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= t.title %></h5>
          <h8 class="card-subtitle"><%= t.service.name %></h5>
          <br>
          <% if current_user.already_liked?(t) %>
            <%= link_to film_like_path(id: t.id, film_id: t.id), method: :delete do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to film_likes_path(id: t.id, film_id: t.id), method: :post do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %> 
          <%= t.likes.count %>
          <br>
          <%= link_to">>", film_path(t.id), class: "card-link" %>
        </div>
        <div class="card-footer text-right">
          <%= link_to(t.user.name, user_path(t.user.id), class: "link" ) %>
        </div>
      </div>
    <% end %>
  </div>
</div> 