<div class="container">
    <h1>管理者画面</h1>
    <h3>全てのユーザー</h3>
    <div class="user-status">
        <% if @user.image.present? %>
            <%= image_tag @user.image_url, :size =>'150x150', class: "img_fluid rounded-circle" %>
        <% end %>
        <br><br><br>
        <h5><%= @user.name %></h5>
        <%= render 'stats' %>
        <%= render 'follow_form' %>
        <% if @user.id == current_user.id %>
            <p><%= @user.email %></p>
        <% end %>
        <%= @user.profile %></p>
        <% if @user.id == current_user.id %>
            <%= link_to "ユーザ情報を編集する", edit_user_registration_path, class: "btn btn-warning" %>
        <% end %>
    </div>
    <br>
    <br>
    <div class="card-columns">
        <% @users.each do |t| %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= t.name %></h5>
                <h8 class="card-subtitle"><%= t.email %></h5>
                <br>
                <%= link_to">>", user_path(t.id), class: "card-link" %>
            </div>
        </div>
        <% end %>
    </div>
</div> 